
// NanumSquare
@font-face {
	font-family: "NanumSquare"; 
 	font-weight: 200; 
 	font-style: normal; 
 	font-display:swap; 
	src:url("https://xcdn.home-learn.com/homelearn/fonts/NanumSquare/NanumSquareL.woff") format("woff")
}

@font-face {
	font-family: "NanumSquare"; 
 	font-weight: 400; 
 	font-style: normal; 
  font-display:swap; 
	src:url("https://xcdn.home-learn.com/homelearn/fonts/NanumSquare/NanumSquareR.woff") format("woff")
}

@font-face {
	font-family: "NanumSquare"; 
 	font-weight: 600; 
 	font-style: normal; 
  font-display:swap; 
	src:url("https://xcdn.home-learn.com/homelearn/fonts/NanumSquare/NanumSquareB.woff") format("woff")
}

@font-face {
	font-family: "NanumSquare"; 
 	font-weight: 800; 
 	font-style: normal; 
  font-display:swap; 
	src:url("https://xcdn.home-learn.com/homelearn/fonts/NanumSquare/NanumSquareEB.woff") format("woff")
}

// noto sans
// @font-face {
// 	font-family: "notosans"; 
//  	font-weight: 300; 
//  	font-style: normal; 
//  	font-display:swap; 
// 	src:url("https://xcdn.home-learn.com/homelearn/fonts/NotoSans/NotoSans-Regular.woff2") format("woff2"), 
// 	url("https://xcdn.home-learn.com/homelearn/fonts/NotoSans/NotoSans-Regular.woff") format("woff")
// }

// @font-face {
// 	font-family: "notosans"; 
//  	font-weight: 600; 
//  	font-style: normal; 
//   font-display:swap; 
// 	src:url("https://xcdn.home-learn.com/homelearn/fonts/NotoSans/NotoSans-Bold.woff2") format("woff2"), 
// 	url("https://xcdn.home-learn.com/homelearn/fonts/NotoSans/NotoSans-Bold.woff") format("woff")
// }


// 나눔고딕
// @font-face
// {
// 	font-family: 'ng';
// 	font-style: normal;
// 	font-weight: 300;
// 	src:url("https://xcdn.home-learn.com/homelearn/fonts/NanumGothic/NanumGothicLight.woff") format("woff");
// }
// @font-face
// {
// 	font-family: 'ng';    
// 	font-style: normal;
// 	font-weight: 500;
// 	src:url("https://xcdn.home-learn.com/homelearn/fonts/NanumGothic/NanumGothicRegular.woff2") format("woff2"),
// 	url("https://xcdn.home-learn.com/homelearn/fonts/NanumGothic/NanumGothicRegular.woff") format("woff");
// }
// @font-face
// {
// 	font-family: 'ng';    
// 	font-style: normal;
// 	font-weight: 600;
// 	src: url("https://xcdn.home-learn.com/homelearn/fonts/NanumGothic/NanumGothicBold.woff2") format("woff2"),
// 	url("https://xcdn.home-learn.com/homelearn/fonts/NanumGothic/NanumGothicBold.woff") format("woff");
// }
// @font-face
// {
// 	font-family: 'ng';    
// 	font-style: normal;
// 	font-weight: 800;
// 	src:url("https://xcdn.home-learn.com/homelearn/fonts/NanumGothic/NanumGothicExtraBold.woff2") format("woff2"),
// 	url("https://xcdn.home-learn.com/homelearn/fonts/NanumGothic/NanumGothicExtraBold.woff") format("woff");
// }

// tmoney
// @font-face {
// 	font-family: "TmoneyRoundWindWebFont";
// 	font-weight: $base-normal;
// 	font-style: normal;
// 	font-display: swap;
// 	src:
// 		url("https://xcdn.home-learn.com/homelearn/fonts/TmoneyRoundWind/TmoneyRoundWindRegular.woff") format("woff");
// }

// @font-face {
// 	font-family: "TmoneyRoundWindWebFont";
// 	font-weight: $base-bold;
// 	font-style: normal;
// 	font-display: swap;
// 	src:
// 		url("https://xcdn.home-learn.com/homelearn/fonts/TmoneyRoundWind/TmoneyRoundWindExtraBold.woff") format("woff");
// }

/* KoPub Batang */
// @font-face {
// 	font-family: "kpb";
// 	font-weight: $base-normal;
// 	font-style: normal;
// 	font-display: swap;
// 	src:
// 		url("https://xcdn.home-learn.com/homelearn/fonts/KopubBatang/KoPubBatang-Regular.woff") format("woff");
// }
// @font-face {
// 	font-family: "kpb";
// 	font-weight: $base-bold;
// 	font-style: normal;
// 	font-display: swap;
// 		src: url("https://xcdn.home-learn.com/homelearn/fonts/KopubBatang/KoPubBatang-Bold.woff") format("woff");
// }
