
.swiper{  
  position: relative;
  &.swiperBanner{
    .swiper-pagination{
      position: absolute;
      top:1.6rem !important;
      right:1.7rem;
      width: auto;
      height: .8rem;
      text-align: right;
      font-size: 0;
      &-bullet{
        display: inline-block;
        margin: 0 .3rem !important;
        width: .8rem;
        height: .8rem;
        background: rgba(0,0,0,.2);
        border-radius: 50%;
        &-active{
          background: rgba(0,0,0,.6);
        }
      }
    } 
  }
  &.mySwiper{
    margin-top: 1.2rem;
    overflow: unset;
    .swiper-pagination{
      position: absolute;
      top: -4.4rem;
      left: 17.1rem;
      // padding: 0 1.2rem;
      width: 5.6rem;
      height: 3.2rem;
      line-height: 3.2rem;
      text-align: center;
      background: #D6ECFA;
      border-radius: 1.6rem;
      &-total{
        line-height: 3.2rem;
        font-size: 1.6rem;
        color: #555;
        font-weight: 700;
      }
      &-current{
        font-size: 2rem;
        color: #2297FF;
        font-weight: 800;
      }
    }
  }
}
